server {
  listen 443 ssl;

  location / {
    root /opt/app/calc-web;
    index index.html;
  }

  ssl_certificate /etc/letsencrypt/live/ilia.devops.srwx.net/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ilia.devops.srwx.net/privkey.pem;
}
