server {
  listen 443 ssl;

  ssl_certificate /etc/letsencrypt/live/ilia.devops.srwx.net/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ilia.devops.srwx.net/privkey.pem;

  location / {
    root /opt/app/calc-web;
    index index.html;
  }

  location ~ /\.ht|.git {
    deny all;
  }

  location /api/sum {
    rewrite ^/api/(.*)$ /$1 break;
    proxy_pass http://localhost:8080;
  }

  location /api/diff {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /opt/phpapp/index.php;
    fastcgi_pass unix://var/run/php/php7.0-fpm.sock;
  }
}
